h1.hero{
  font-size: 4em;
  text-align: center;
  .logo{
    height: .75em;
  }
}

i.container-state.fa-play{
  color: #0a0;
}
i.container-state.fa-stop{
  color: #d33;
}
i.container-state.fa-pause{
  color: #d80;
}
i.container-state.fa-spinner{
  color: #8bf;
}

.life-list{
  .state-active a{
    color: white;
  }
  .state-dead a{
    color: #707880;
  }
}

.container-life{
  color: #567;
}
.selected .container-life{
  color: #789;
}


.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
}
.button-success {
  background: rgb(28, 184, 65);
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.button-minimal,
.button-minimal:hover,
.button-minimal:focus,
.button-minimal:active{
  background: transparent;
  border: none;
  box-shadow: none;
}

.button-no-padding{
  padding-right: 0;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

dt{
  font-weight: bold;
}

.validation-error-message{
  color: #d00;
}

h2{
  margin-top: 3em;
  border-bottom: 1px solid #ccc;
}

h2 i.fa{
  font-size: smaller;
  vertical-align: middle;
  width: 20px;
  margin-right: 8px;
}

.table-fixed{
  table-layout: fixed;
  width: 100%;
}

.control-like{
  padding: 0.5em 0.6em;
  border: 1px solid transparent;
  display: inline-block;
  box-sizing: border-box;
  line-height: normal;
}
.button-like{
  padding: 0.5em 1em;
  display: inline-block;
  box-sizing: border-box;
  line-height: normal;
  +input[type="checkbox"]{
    display: none;
  }
}

.text-faded{
  color: #ccc;
}
.text-muted{
  color: #999;
}
.text-center{
  text-align:center;
}
.text-right{
  text-align: right;
}
.text-strikeout{
  text-decoration: line-through;
}

.button-group{
  margin: 0.5em 0;

  >.pure-button{
    border-radius: 0;
  }

  >.pure-button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  >.pure-button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.small-label{
  font-size: small;
  font-weight: bold;
  display: block;
}

.pure-button{
  border-radius: 4px;
}

.pure-form{
  .autocomplete-input.autocomplete-input-focus{
    border: 1px solid #129FEA;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
  }

  .autocomplete-list{
    border: 1px solid #129FEA;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }

  button[type="submit"] {
    margin-top:0;/*fix an issue with pure for small screens*/
  }

  input:not([type]),
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  select,
  label {
    margin-bottom:0;/*fix an issue with pure for small screens*/
  }
}

.grid-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


  .box{
    flex: 0 1 500px;
    margin: 1em 0;
    box-shadow: 0 0 5px #999;

    &.box-large{
      flex: 0 1 1000px;
      overflow: auto;
    }

    &.box-no-scroll{
      overflow: hidden;
    }

    h3, .box-header{
      margin: 0;
      padding: 0 10px 0 7px;
      background: linear-gradient(to top, #f0f0f0, #fff 11px);
      border-bottom: 1px solid #ccc;
      line-height: 1.5;
      display: flex;

      span{
        flex: 1 1 auto;
      }
    }

    p{
      padding-left: 10px;
      padding-right: 10px;
    }


    .box-form.pure-form.pure-form-stacked{
      padding: 10px;
    }

    .box-form input,
    .box-form select{
      width:100%;
    }

    .box-form input[type=checkbox]{
      width: auto;
    }

    .box-list{
      .box-list-item{
        border-bottom: 1px solid #eee;
        padding: 10px;

        .box-list-item-show{
          display: flex;
          .control-like{
            flex: 1 1 auto;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
          }
          .control-like.flex-shrink{
            flex: 0 1 auto;
          }
        }

        .box-list-item-edit{
          display: flex;

          >select,
          >input,
          >.box-list-item-input{
            flex: 1 1 auto;
            width: 1px;
          }

          >.box-list-item-input{
            position: relative;

            .autocomplete-input{
              width: 100%;
            }

            .autocomplete-list{
              position: absolute;
              width: 100%;
              background: white;
            }
          }

          >*{
            flex: 0 0 auto;
            border-radius: 0;
          }

          >*:first-child{
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }

          >*:last-child{
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
  }
}

pre.logs {
  background: black;
  color: white;
  padding: 1em;
  margin: 0;
  overflow-x: auto;

  &.full-page {
    height: 80vh;
  }

  .stderr{
    background: darkred;
  }
}


.logs-buttons {
  position: absolute;
  margin: 0;
  top: 1em;
  right: 1em;
  .pure-button {
    opacity: 0.5;

    &:hover,
    &:focus,
    &:active{
      opacity: 1;
    }

    i.fa-play {
      color: #0a0;
    }

    i.fa-pause {
      color: #c00;
    }
  }
}

.box-tabs {
  .box-tab {
    text-decoration: none;
    padding: 0.5em 1em;
    color: #666;

    &[selected] {
      color: black;
      background: white;
      font-weight: bold;
    }
  }
}

.step-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  li.step-list-item {
    flex: 1 1 auto;
    white-space: nowrap;
    position: relative;
    height: 30px;
    background: #E6E6E6;
    padding: 5px 0 5px 20px;
    overflow-x: hidden;

    &:first-child {
      padding-left: 10px;
    }
    &:last-child {
      padding-right: 10px;
    }

    &:not(:first-child):after, &:not(:first-child)>span:after {
      content: "";
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-top: 15px inset transparent;
      border-bottom: 15px inset transparent;
      border-left-width: 15px;
      border-left-style: solid;
    }

    &>span:after{
      left: 0px;
      border-left-color: white;
    }
    +li.step-list-item:after{
      left: -1px;
      border-left-color: #E6E6E6;
    }

    &.done {
      background: #9c9;

      +li.step-list-item:after{
        border-left-color: #9c9;
      }
    }

    &.active {
      flex-shrink: 0;
      background: #99C9F5;

      +li.step-list-item:after{
        border-left-color: #99C9F5;
      }
    }
  }

  &.failed li{
    &.fail{
      background: #d88;
      flex-shrink: 0;

      +li.step-list-item:after{
        border-left-color: #d88;
      }
    }
  }
}

a.no-link{
  text-decoration: none;
  color: inherit;

  &:hover{
    text-decoration: underline;
  }
}
