.container-state-running i.fa-play{
  color: #060;
}
.container-state-stopped i.fa-stop{
  color: #900;
}
.container-state-stopped i.fa-play{
  display: none;
}
.container-state-running i.fa-stop{
  display: none;
}

.container-version{
  color: #567;
}
.selected .container-version{
  color: #789;
}


.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
}
.button-success {
  background: rgb(28, 184, 65);
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.button-minimal,
.button-minimal:hover,
.button-minimal:focus,
.button-minimal:active{
  background: transparent;
  border: none;
  box-shadow: none;
}

.button-no-padding{
  padding: 0;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

dt{
  font-weight: bold;
}

.validation-error-message{
  color: #d00; 
}

.pull-right{
  float: right; 
}

h2{
  margin-top: 3em;
  border-bottom: 1px solid #ccc; 
}

.table-fixed{
  table-layout: fixed;
  width: 100%;
}

.control-like{
  padding: 0.5em 0 0.6em;
  display: inline-block;
  box-sizing: border-box;
  line-height: normal;
}

.text-faded{
  color: #ccc;
}