.container-state-running i.fa-play{
  color: #060;
}
.container-state-stopped i.fa-stop{
  color: #900;
}
.container-state-stopped i.fa-play{
  display: none;
}
.container-state-running i.fa-stop{
  display: none;
}